/*doc
---
title: fieldInput
name: fieldInput
category: Base
---

```html_example
<input type="text" class="fieldInput" />
```
*/
/* ---------------------------------------------------------------------
 Form Inputs
------------------------------------------------------------------------ */
.fieldInput {}
