/* ---------------------------------------------------------------------
 hlist
------------------------------------------------------------------------ */
.hlist > * {
    display: inline-block;
    padding: 5px;
}

.mix-hlist_divided > * + * {
    border-left: 1px solid;
}
