/*doc
---
title: Media Object
name: media_object
category: Base
---

```html_example
<div class="box">
    <div class="media">
        <div class="media-img">
            <img src="http://placehold.it/100x100" alt=""/>
        </div>
        <div class="media-bd">
            <div class="preview">
                <div class="preview-hd">
                    <h2 class="hdg hdg_2 mix-hdg_caps">Preview Headline goes here</h2>
                </div>
                <div class="preview-subhd">
                    <h3 class="hdg hdg_4">Preview SubHeading goes here</h3>
                </div>
                <div class="preview-bd">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </div>
            </div>
        </div>
    </div>
</div>
```
*/
/* ---------------------------------------------------------------------
 Media Object
------------------------------------------------------------------------ */
.media {
    overflow: hidden;
}

.media-img {
    float: left;
    margin-right: 20px;
}

.media-bd {
    overflow: hidden;
}
