/*doc
---
title: Box
name: box
category: Base CSS
---

Heading elements:

```html_example
    <div class="box">box</div>
```
*/
/* ---------------------------------------------------------------------
 Box
------------------------------------------------------------------------ */
.box {
    padding: 20px;
    background-color: #efefef;
    border: 1px solid #3071a9;
}

.box-hd {
    margin-bottom: 20px;
}

.box-bd {

}

.box-ft {}

