/*doc
---
title: Wrapper
name: wrapper
category: Layout
---

Page body elements are wrapped with a wrapper div

```html_example
<div class="wrapper">
<!-- page contents here -->
</div>
```
*/
/* ---------------------------------------------------------------------
 Wrapper
------------------------------------------------------------------------ */
.wrapper {
    padding: 20px;
}
