/*doc
---
title: Field
name: field
category: Base
---

```html_example
<input type="text" class="fieldInput" />
```
*/
/* ---------------------------------------------------------------------
 Form Inputs
------------------------------------------------------------------------ */
.fieldInput {}
