/*doc
---
title: Grid
name: grid
category: Layout
---

Each row is contained in a `.grid-row` class.

```html_example
<div class="grid">
    <div class="grid-col-example grid-col grid-col_6of12">6of12</div>
    <div class="grid-col-example grid-col grid-col_6of12">6of12</div>
</div>

<div class="grid">
    <div class="grid-col-example grid-col grid-col_3of12">3of12</div>
    <div class="grid-col-example grid-col grid-col_9of12">9of12</div>
</div>

<br/ >

<div class="grid">
    <div class="grid-col-example grid-col grid-col_1of12">1of12</div>
    <div class="grid-col-example grid-col grid-col_11of12">11of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_2of12">2of12</div>
    <div class="grid-col-example grid-col grid-col_10of12">10of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_3of12">3of12</div>
    <div class="grid-col-example grid-col grid-col_9of12">9of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_4of12">4of12</div>
    <div class="grid-col-example grid-col grid-col_8of12">8of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_5of12">5of12</div>
    <div class="grid-col-example grid-col grid-col_7of12">7of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_6of12">6of12</div>
    <div class="grid-col-example grid-col grid-col_6of12">6of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_7of12">7of12</div>
    <div class="grid-col-example grid-col grid-col_5of12">5of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_8of12">8of12</div>
    <div class="grid-col-example grid-col grid-col_4of12">4of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_9of12">9of12</div>
    <div class="grid-col-example grid-col grid-col_3of12">3of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_10of12">10of12</div>
    <div class="grid-col-example grid-col grid-col_2of12">2of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_11of12">11of12</div>
    <div class="grid-col-example grid-col grid-col_1of12">1of12</div>
</div>
<div class="grid">
    <div class="grid-col-example grid-col grid-col_12of12">Col 1</div>
</div>
```
*/
/* ---------------------------------------------------------------------
 12 Column Grid
------------------------------------------------------------------------ */
.grid:before,
.grid:after {
    content: " ";
    display: table;
}

.grid:after {
    clear: both;
}

.grid-col {
    float: left;
}

.grid-col + .grid-col {
    margin-left: 2.127663%;
}

.grid-col_1of12 { width: 6.382989%; }
.grid-col_2of12 { width: 14.893641%; }
.grid-col_3of12 { width: 23.404293%; }
.grid-col_4of12 { width: 31.914945%; }
.grid-col_5of12 { width: 40.425597%; }
.grid-col_6of12 { width: 48.936249%; }
.grid-col_7of12 { width: 57.446901%; }
.grid-col_8of12 { width: 65.957553%; }
.grid-col_9of12 { width: 74.468205%; }
.grid-col_10of12 { width: 82.978857%; }
.grid-col_11of12 { width: 91.489509%; }
.grid-col_12of12 { width: 100%; }


.grid-col-example {
    margin-bottom: 10px;
    margin-right: -5px;
    padding-left: 5px;
    color: #eee;
    background-color: #037bac;
}
