/* ---------------------------------------------------------------------
 Headings
------------------------------------------------------------------------ */
.hdg {
    display: block;
    font-weight: bold;
}

.hdg_large {}
.hdg_medium {}
.hdg_small {}
.hdg_smallest {}
.hdg_tiny {}

.mix-hdg_caps {
    text-transform: uppercase;
}
