{{#extend "layout"}}

    {{#append "body"}}

        <div class="vr_x4">
            <h1 class="hdg hdg_1">Welcome to the Symbol Library Boilerplate</h1>
        </div>


        <div class="vr_x4">
            This style guide is an example of what <a href="http://trulia.github.io/hologram">Hologram</a> can help you build and
            maintain.
        </div>
        <div class="vr_x4">
            The goal of hologram is to make it easy to document your CSS and to
            display the code examples to use that CSS. Hologram has no
            opinions about how you should actually organize/style your style guide.
            You could do everything as a single file with no header/footer and it
            would work just fine. Or, you could break it up into an individual file
            for each component. Top navigation, left navigation, no
            navigation....that's up to you. Build it however you'd like.
        </div>
        <div class="vr_x4">
            If you want more details about hologram see the <a href="http://github.com/trulia/hologram" target="_blank">git repository</a>.
            If you'd like more details about the <a href="https://github.com/wearecube/hologram-github-theme" target="_blank">hologram-github-theme</a>, take a look at the <a href="https://github.com/n8rzz/hologram-github-theme" target="_blank">git repository</a>
        </div>

        <div class="vr_x4">
            <h2 class="hdg hdg_2"><a href="/styleguide">Take me to the Styleguide!</a></h2
        </div>

    {{/append}}

{{/extend}}
