{{#extend "layout"}}

    {{#append "body"}}

        <h1 class="hdg">hdg</h1>
        <h1 class="hdg hdg_large">hdg 1</h1>
        <h2 class="hdg hdg_medium">hdg 2</h2>
        <h3 class="hdg">hdg 3</h3>
        <h4 class="hdg hdg_small">hdg 4</h4>
        <h5 class="hdg hdg_tiny">hdg 5</h5>
        <h6 class="hdg hdg_smallest">hdg 6</h6>

        <hr />

        <h1 class="hdg">anchor</h1>
            <a href="#">default anchor</a>
            <a href="#">default anchor</a>

        <hr />


        <h1 class="hdg">blocks</h1>
        <div class="blocks">
            <div class="blocks_2up">2 blocks</div>
            <div class="blocks_2up">2 blocks</div>
        </div>

        <div class="blocks">
            <div class="blocks_3up">3 blocks</div>
            <div class="blocks_3up">3 blocks</div>
            <div class="blocks_3up">3 blocks</div>
        </div>
        <div class="blocks">
            <div class="blocks_4up">4 blocks</div>
            <div class="blocks_4up">4 blocks</div>
            <div class="blocks_4up">4 blocks</div>
            <div class="blocks_4up">4 blocks</div>
        </div>

        <hr />


        <h1 class="hdg">box</h1>
        <div class="box">
            <div>box</div>
            <div>box</div>
            <div>box</div>
            <div>box</div>
            <div>box</div>
            <div>box</div>
            <div>box</div>
            <div>box</div>
        </div>

        <hr />


        <h1 class="hdg">hlist</h1>
        <ul class="hlist">
            <li>hlist</li>
            <li>hlist</li>
            <li>hlist</li>
            <li>hlist</li>
            <li>hlist</li>
            <li>hlist</li>
            <li>hlist</li>
            <li>hlist</li>
        </ul>

        <ul class="hlist mix-hlist_divided">
            <li>hlist divided</li>
            <li>hlist divided</li>
            <li>hlist divided</li>
            <li>hlist divided</li>
            <li>hlist divided</li>
            <li>hlist divided</li>
        </ul>
        <hr />


        <h1 class="hdg">vList</h1>
            <ul class="vlist">
                <li>vlist</li>
                <li>vlist</li>
                <li>vlist</li>
                <li>vlist</li>
                <li>vlist</li>
                <li>vlist</li>
                <li>vlist</li>
                <li>vlist</li>
            </ul>

            <ul class="vlist mix-vlist_divided">
                <li>vlist divided</li>
                <li>vlist divided</li>
                <li>vlist divided</li>
                <li>vlist divided</li>
                <li>vlist divided</li>
                <li>vlist divided</li>
            </ul>

        <hr />


        <h1 class="hdg">btn</h1>
            <div class="formInput">
                <input type="button" value="button"/>
            </div>
            <div class="btn">
                <div class="btn">
                    <a href="#">button</a>
                </div>
            </div>

        <hr />


        <h1 class="hdg">formInput</h1>
        <div class="formInput">
            <label for="textField">text field label: <input type="text" name="textField" placeholder="Text Field"/></label>
        </div>
        <div class="formInput">
            <label for="numberField">number field label: <input type="number" name="numberField"/></label>
        </div>
        <div class="formInput">
            <label for="url">url field label: <input type="url" placeholder="URL" /></label>
        </div>
        <div class="formInput">
            <label for="checkbox"><input type="checkbox" /> checkbox</label>
            <label for="checkbox"><input type="checkbox" /> checkbox</label>
            <label for="checkbox"><input type="checkbox" /> checkbox</label>
            <label for="checkbox"><input type="checkbox" /> checkbox</label>
        </div>
        <div class="formInput">
            <label for="radio"><input type="radio" /> radio</label>
            <label for="radio"><input type="radio" /> radio</label>
            <label for="radio"><input type="radio" /> radio</label>
            <label for="radio"><input type="radio" /> radio</label>
        </div>
        <div class="formInput">
            <label for="textArea"></label>
            <textarea name="textArea" id="" cols="30" rows="10"></textarea>
        </div>
        <div class="formInput">
            <select>
                <option value="">---</option>
                <option value="option">option</option>
                <option value="option">option</option>
                <option value="option">option</option>
                <option value="option">option</option>
                <option value="option">option</option>
            </select>
        </div>

        <hr />

    {{/append}}

{{/extend}}
